* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
  width: 100%;
  height: 100vh;
}

img {
  height: 80px;
}

.sidebar {
  background-color: #1992d4;
  grid-area: sidebar;
  color: white;
  font-weight: bold;
}

.dashboard {
  display: grid;
  font-size: 1.6rem;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  padding: 1.5rem 2rem 1.5rem 1rem;
}

.dashboard h2 {
  padding-left: 0.5rem;
}

.dashboard-small {
  display: grid;
  font-size: 1rem;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  padding: 1rem 0 0 1.8rem;
}

.dashboard-small h2 {
  padding-left: 1.3rem;
}

.second-dashboard {
  padding-top: 3rem;
}

.nav {
  background-color: white;
  grid-area: nav;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
}

.nav .search {
  padding: 0 0 0 3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

input {
  width: 90%;
  height: 1.6rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  margin-left: 1rem;
}

.nav .profile {
  display: grid;
  grid-template-columns: 24px auto auto;
  justify-items: center;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.profile img {
  border-radius: 50%;
  height: 50px;
}

.profile p {
  padding-right: 5rem;
  font-weight: bold;
}

.hi {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem;
}

.hi img {
  border-radius: 50%;
}

.buttons {
  padding: 2rem 4rem 1rem 2rem;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  justify-content: end;
}

.buttons button {
  background-color: #1992d4;
  border: none;
  border-radius: 22px;
  height: 2.5rem;
  width: 6rem;
  color: white;
  font-weight: bold;
}

.main {
  background-color: #e2e8f0;
  grid-area: main;
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.projects {
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
}

.an {
  padding-bottom: 1rem;
}

.projects h2 {
  grid-column: 1 /-1;
}

.project-item {
  display: grid;
  background-color: white;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 1fr auto;
  border-radius: 20px;
}

.project-color {
  grid-row: 1/-1;
  background-color: #f0b429;
  border-radius: 20px 0 0 20px;
  width: 80%;
}

.project-text {
  padding: 1rem 5rem 0 1rem;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 2rem 2rem 1rem;
}

.announcements-trending {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.announcements-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  padding: 1rem 2rem;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 20px;
}

.announcements-content .border {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

.announcements-trending > div {
  display: flex;
  flex-direction: column;
}

.announcements-trending h2 {
  margin-bottom: 1rem;
}

.trending-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 1rem 2rem;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
}

.trending-item img {
  height: 70px;
  border-radius: 50%;
}

.trending-item {
  display: flex;
  align-items: center;
}

.trending-item div {
  padding-left: 2rem;
}
